body {
  padding: 20px;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
}
header {
  margin-bottom: 40px;
}
h1, h2 {
  margin: 0;
  padding: 0;
}
table {
  padding: 20px;
  border: 5px solid black;
  background-color: white;
  width: 90%;
  margin-bottom: 40px;
}
thead {
  font-size: 20px;
}
th {
  padding-bottom: 20px;
}
td {
  border: 1px solid black;
  padding: 20px;
}
td:first-child {
  font-weight: bold;
  background-color: #eee;
}
img {
  height: 200px;
}
